
.user-homepage-container {
  background-color: #f0f8ff; /* Very light yellow */
  color: #98fb98; /* Light green */
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
}

.user-homepage-heading {
  font-size: 24px;
  margin-bottom: 10px;
}

.user-list {
  list-style: none;
  padding: 0;
}

.user-item {
  background-color: #f5fffa; /* Very light green */
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.user-name {
  font-weight: bold;
}

.user-email {
  color: #556b2f; /* Dark olive green for email */
}
